<section class="vh-100 backgroup-linear-gradient">
    <div class="container py-5 h-100 ">
        <div class="row d-flex align-items-center justify-content-center h-100 text-center">
            <div class="col-8 left-bg">
                <img src="../../../../../assets/images/coding_club_logo.png" alt="" width="200">
                <div class="title">
                    <h1 class="title-landing-page fw-bold">Welcome to Codingclub Chat</h1>
                    <i class="text-light" style="font-size: 1.2rem;">
                        Congratulations on your successful account registration, Thank you for using our application, people like you motivate us to develop more of this project. Now we invite you to use our application. Wish you have a good experience.
                    </i>
                </div>
                <button class="push mt-5" routerLink="/home/chat">Get start !</button>
            </div>
        </div>
    </div>
</section>
