<div class="card card-custom card-stretch gutter-b">
    <form [formGroup]="formConversation" (ngSubmit)="onSubmit($event)">
        <div class="card-header border-0 text-center my-auto py-3">
            <h5 class="text-uppercase fw-bold">Create Group Chat</h5>
        </div>
        <div class="card-body pt-0">
          <div class="">
            <div class="my-3" >
                <input type="text" class="form-control input-group-name" placeholder="Group name..." formControlName="conversationName">
            </div>
          </div>
          <div class="">
            <h6>Add member to group</h6>
            <form class="my-3">
                <div class="search-outer d-flex flex-grow-1 me-1">
                    <input type="text" class="form-control input-search-member" placeholder="Search with phonenumber, name and email..." (keyup)="searchUser($event)">
                    <i class="far fa-search"></i>
                </div>
            </form>
          </div>
          <div class="">
            <h6>List friend</h6>
            <ul class="list-friend">
                <li *ngFor="let friend of listFriend" class="d-flex my-3">
                    <div class="form-check my-auto">
                        <input class="form-check-input rounded-circle border-3" type="checkbox" value="{{friend._id}}" id="{{friend._id}}" (change)="getValueCheckbox($event)">
                    </div>
                    <div class="h-100">
                        <img class="rounded-circle" src="{{friend.avatarUrl}}" width="50" height="50" alt="">
                    </div>
                    <span class="my-auto ms-3">
                        {{friend.fullname}}
                    </span>
                </li>
            </ul>
          </div>
        </div>
        <div class="card-footer border-0 my-auto py-3">
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger me-2">Cancel</button>
                <button type="submit" class="btn btn-primary">Create Group</button>
            </div>
        </div>
    </form>
  </div>
  