<div class="card card-custom card-stretch gutter-b">
    <form [formGroup]="profileForm">
        <div class="card-header border-0 text-center my-auto py-3">
            <h5 class="text-uppercase fw-bold">Profile</h5>
        </div>
        <div class="card-body pt-0 text-center">
            <div class="my-3 mx-auto d-flex align-items-center justify-content-center">
                <label for="avatar">
                    <img class="rounded-circle" [src]="url || user.avatarUrl" width="100" height="100" alt="">

                </label>
                <input type="file" id="avatar" class="d-none" (change)="uploadAvatar($event)">
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <h4 class="my-auto">{{user.fullname}}</h4>
            </div>
            <div class="text-start mx-5 mt-4">
                <!-- <h5>Infomation</h5> -->
                <table class="mt-4">
                    <tr class="py-3">
                        <td class="col-5 py-2">
                            <Span class="fw-bold">Username:</Span>
                        </td>
                        <td>
                            <span class="ms-2">
                                <input type="text" class="form-control" formControlName="username" [readonly]="true">
                            </span>
                        </td>
                    </tr>
                    <tr class="py-3">
                        <td class="col-5 py-2">
                            <Span class="fw-bold">Fullname:</Span>
                        </td>
                        <td>
                            <span class="ms-2">
                                <input type="text" class="form-control" formControlName="fullname" [readonly]="isDisabled"
                                [class.is-invalid]="isControlInvalid(profileForm, 'username')"
                                [class.is-valid]="isControlValid(profileForm, 'username')">
                            </span>
                        </td>
                    </tr>
                    <tr class="col-5 mt-2">
                        <td class="py-2">
                            <Span class="fw-bold">Email:</Span>
                        </td>
                        <td>
                            <span class="ms-2">
                                <input type="text" class="form-control" formControlName="email" [readonly]="isDisabled"
                                [class.is-invalid]="isControlInvalid(profileForm, 'email')"
                                [class.is-valid]="isControlValid(profileForm, 'email')">
                            </span>
                        </td>
                    </tr>
                    <tr class="col-5">
                        <td class="py-2">
                            <Span class="fw-bold">Phone:</Span>
                        </td>
                        <td>
                            <span class="ms-2">
                                <input type="text" class="form-control" formControlName="phone" [readonly]="isDisabled"
                                [class.is-invalid]="isControlInvalid(profileForm, 'phone')"
                                [class.is-valid]="isControlValid(profileForm, 'phone')">
                            </span>
                        </td>
                    </tr>
                    <tr class="col-5">
                        <td class="py-2">
                            <Span class="fw-bold">About:</Span>
                        </td>
                        <td>
                            <span class="ms-2">
                                <input type="text" class="form-control" formControlName="about" [readonly]="isDisabled"
                                [class.is-invalid]="isControlInvalid(profileForm, 'about')"
                                [class.is-valid]="isControlValid(profileForm, 'about')">
                            </span>
                        </td>
                    </tr>
                    <tr class="col-5">
                        <td class="py-2">
                            <Span class="fw-bold">Year of birth:</Span>
                        </td>
                        <td>
                            <span class="ms-2">
                                <input type="text" class="form-control" formControlName="yearOfBirth" [readonly]="isDisabled"
                                [class.is-invalid]="isControlInvalid(profileForm, 'yearOfBirth')"
                                [class.is-valid]="isControlValid(profileForm, 'yearOfBirth')">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-footer border-0 my-auto py-3 ">
            <div class="d-flex justify-content-center">
                <button class="btn btn-update" *ngIf="isDisabled" (click)="isDisabled = !isDisabled">
                    <i class="fa-light fa-pen-to-square"></i>
                    <span class="ms-2">Update Infomation</span>
                </button>
                <button class="btn btn-primary" *ngIf="!isDisabled" (click)="updateProfile($event)" [disabled]="profileForm.invalid">
                    <span class="ms-2">Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>