<div class="option-chat w-100 h-100 showdow">
    <div
        class="option-chat-header bg-white d-flex justify-content-center align-items-center py-3 border-bottom-1 border-bottom">
        <h5>Infomation Group</h5>
    </div>
    <div>
        <div class="text-center py-4 bg-white">
            <div class="d-flex justify-content-center">
                <app-avatar-image-group [listUser]="conversatinSelect?.users"></app-avatar-image-group>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <div *ngIf="conversatinSelect?.conversationName === 'one-to-one-codingclub'">
                    <div *ngFor="let user of conversatinSelect?.users">
                        <h5 class="my-auto" *ngIf="user._id !== currentUser?._id">
                            {{user?.account?.username}}</h5>
                    </div>
                </div>
                <h5 class="my-auto" *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                    {{conversatinSelect?.conversationName}}</h5>
                <i class="fa-light fa-pen-to-square my-auto ms-3 p-2 rounded-circle bg-gray-light"
                    *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'"></i>
            </div>
            <div class="mt-4">
                <div class="group-add-member-icon"
                    *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                    <i class="fa-light fa-users-medical p-2 rounded-circle text-dark" (click)="openModal($event)"></i>
                    <p>Add member</p>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 bg-white align-items-center align-items-sm-start py-2"
                id="menu" *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                <li class="w-100">
                    <a href="#member" data-bs-toggle="collapse"
                        class="nav-link py-2 px-3 align-middle w-100 d-flex justify-content-between">
                        <div class="my-auto">
                            <h6 class="ms-1 d-none d-sm-inline text-dark">Members
                                in group ({{conversatinSelect?.users?.length}})</h6>
                            <i class="fa-sharp fa-solid fa-caret-down ms-2 text-dark"></i>
                        </div>
                    </a>
                    <ul class="collapse nav flex-column ms-1" id="member" data-bs-parent="#menu">
                        <li class="ps-4 py-2 w-100 d-flex justify-content-between"
                            *ngFor="let user of conversatinSelect?.users">
                            <div class="d-flex">
                                <img src="{{user.avatarUrl}}" class="rounded-circle" width="40" height="40" alt="">
                                <div>
                                    <span class="ms-3 fw-bold" [ngClass]="user._id === currentUser?._id ? 'text-danger' : ''">{{user?.account?.username}}</span>
                                    <br />
                                    <span class="ms-3">{{user?.account?.role}}</span>
                                </div>
                            </div>
                            <i class="fa-light fa-trash me-4 my-auto text-danger" (click)="removeMember(user)"></i>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mt-3">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 bg-white align-items-center align-items-sm-start py-2"
                id="menu" *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                <li class="w-100">
                    <a href="#images" data-bs-toggle="collapse"
                        class="nav-link py-2 px-3 align-middle w-100 d-flex justify-content-between">
                        <div class="my-auto">
                            <h6 class="ms-1 d-none d-sm-inline text-dark">Image ({{listImages.length}})</h6>
                            <i class="fa-sharp fa-solid fa-caret-down ms-2 text-dark"></i>
                        </div>
                    </a>
                    <ul class="collapse nav flex-column ms-1" id="images" data-bs-parent="#menu">
                        <li class="ps-4 py-2 w-100 row justify-content-between">
                            <div *ngFor="let image of listImages" class="col-4">
                                <img src="{{image}}" width="100%" height="100" alt="">
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mt-3">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 bg-white align-items-center align-items-sm-start py-2"
                id="menu" *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                <li class="w-100">
                    <a href="#videos" data-bs-toggle="collapse"
                        class="nav-link py-2 px-3 align-middle w-100 d-flex justify-content-between">
                        <div class="my-auto">
                            <h6 class="ms-1 d-none d-sm-inline text-dark">Videos ({{listVideos.length}})</h6>
                            <i class="fa-sharp fa-solid fa-caret-down ms-2 text-dark"></i>
                        </div>
                    </a>
                    <ul class="collapse nav flex-column ms-1" id="videos" data-bs-parent="#menu">
                        <li class="ps-4 py-2 w-100 row justify-content-between">
                            <div *ngFor="let video of listVideos" class="col-4">
                                <video width="100%" height="100" controls>
                                    <source src="{{video}}" type="video/mp4">
                                </video>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mt-3">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 bg-white align-items-center align-items-sm-start py-2"
                id="menu" *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                <li class="w-100">
                    <a href="#files" data-bs-toggle="collapse"
                        class="nav-link py-2 px-3 align-middle w-100 d-flex justify-content-between">
                        <div class="my-auto">
                            <h6 class="ms-1 d-none d-sm-inline text-dark">Files ({{listFiles.length}})</h6>
                            <i class="fa-sharp fa-solid fa-caret-down ms-2 text-dark"></i>
                        </div>
                    </a>
                    <ul class="collapse nav flex-column ms-1" id="files" data-bs-parent="#menu">
                        <li class="ps-4 py-2 w-100 row justify-content-between" *ngFor="let file of listFiles"> 
                            <a href="{{file}}" class="text-decoration-none text-dark">
                                <div class="d-flex align-items-center">
                                    <i class="fa-regular fa-file"></i>
                                    <p class="m-0 text-one-line ms-3">
                                        {{file.split('?')[0].split('/').pop()}}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="bg-white mt-3">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 bg-white align-items-center align-items-sm-start py-2"
                id="menu" *ngIf="conversatinSelect?.conversationName !== 'one-to-one-codingclub'">
                <li class="w-100">
                    <a href="#setting" data-bs-toggle="collapse"
                        class="nav-link py-2 px-3 align-middle w-100 d-flex justify-content-between">
                        <div class="my-auto">
                            <h6 class="ms-1 d-none d-sm-inline text-dark">Setting security</h6>
                            <i class="fa-sharp fa-solid fa-caret-down ms-2 text-dark"></i>
                        </div>
                    </a>
                    <ul class="collapse nav flex-column ms-1" id="setting" data-bs-parent="#menu">
                        <li class="ps-4 py-2 w-100 d-flex" (click)="outConversation($event)">
                            <i class="fa-light fa-right-from-bracket me-3 my-auto text-danger"></i>
                            <div>
                                <div *ngFor="let user of conversatinSelect?.users">
                                    <p class="my-auto text-danger" *ngIf="user._id === currentUser?._id && user?.account?.role === 'owner-admin'">Remove group</p>
                                    <p class="my-auto text-danger" *ngIf="user._id === currentUser?._id && user?.account?.role !== 'owner-admin'">Leave group</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>