<div class="p-5">
    <div class="p-5 text-center">
        <div class="d-flex justify-content-center">
            <img src="../../../../../assets/images/coding_club_logo.png" alt="" width="200">
        </div>
        <h1>Confirmation One Time Password</h1>
        <p class="text-secondary">
            To increase the level of security. We have sent you an OTP in your email address, please check and verify
            it.
        </p>
        <form class="d-flex justify-content-center mt-4">
            <input type="text" name="" id="" class="input-otp-item">
            <input type="text" name="" id="" class="input-otp-item">
            <input type="text" name="" id="" class="input-otp-item">
            <input type="text" name="" id="" class="input-otp-item">
            <input type="text" name="" id="" class="input-otp-item">
            <input type="text" name="" id="" class="input-otp-item">
        </form>
        <p class="text-secondary mt-4">
            OTP will expire after 1 minute
        </p>
        <button class="btn btn-primary">
            resend OTP
        </button>
    </div>
</div>